<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>   
    <add key="SMSPostingAddress" value="http://116.212.108.50/BulkSMSAPI/BulkSMSExtAPI.php?AuthToken=bXJ0Y29tcHV0ZXJ8c29rYWxANzg5" />
     
    <add key="TopNumber" value="30" />    
    <add key="DefaultNextRetryMin" value="30" />   
    <add key="LogEnable" value="1" />
    <add key="LogFilePath" value="F:\FromRiad\BulkSMS_Log\" />
    <!-- <add key="DBFilePath" value="F:\FromRiad\att2000.mdb" /> -->
    <add key="DBFilePath" value="C:\Program Files (x86)\ZKTeco\att2000.mdb" />
    <add key="SMSDBPath" value="F:\FromRiad\SMSDB.mdb" />
    
    <add key="ConnectionMain" value="Network Library=DBMSSOCN;Data Source=localhost;database=AttendanceDB;
         User id=sa;Password=nopass;Connection Timeout=0;Max Pool Size=500000;Pooling=true;MultipleActiveResultSets=True;" />
    <add key="ConnectionSMS" value="Network Library=DBMSSOCN;Data Source=localhost;database=SMSDB;
         User id=sa;Password=nopass;Connection Timeout=0;Max Pool Size=500000;Pooling=true;MultipleActiveResultSets=True;" />

    <add key="EnableMsgRegular" value="1" />
    <add key="EnableMsgLate" value="1" />
    <add key="EnableMsgAbsent" value="1" />
    <add key="EnableMsgEarlyLeave" value="1" />
    <add key="EnableMsgRegularLeave" value="1" />
    <add key="EnableMsgNoPunch" value="1" />
    
    <add key="MessageRegular" value="is present" />
    <add key="MessageLate" value="is late" />
    <add key="MessageAbsent" value="is absent today" />
    <add key="MessageEarlyLeave" value="left early" />
    <add key="MessageRegularLeave" value="left normally" />
    <add key="MessageNoPunch" value="did not check out" />
    <!-- OLEDB
    <add key="OutboxCountClause" value="where msgStatus='QUE' and Schedule &lt; now() and retrycount > -1 and msg is not null and  msg &lt;>'' " />
	<add key="OutboxWhereClause" value="where msgStatus='QUE' and Schedule &lt; now() and retrycount > -1 and msg is not null and  msg &lt;>'' order by Priority asc" /> 
  -->
    <add key="OutboxCountClause" value="where msgStatus='QUE' and Schedule &lt; CURRENT_TIMESTAMP and retrycount > -1 and msg is not null and  msg &lt;>'' " />
    <add key="OutboxWhereClause" value="where msgStatus='QUE' and Schedule &lt; CURRENT_TIMESTAMP and retrycount > -1 and msg is not null and  msg &lt;>'' order by Priority asc" />

  </appSettings>
</configuration>
